{% extends 'base.html' %} {% block conteudo %}
<h2 style="text-align: center;">Atualizar Cursos</h2>
<hr>

{%- for mensagem in get_flashed_messages() %}
    <div class="alert alert-danger">
       {{mensagem}} 
    </div>
{%- endfor %}

<form action="{{url_for('atualiza_curso', id=curso.id)}}" method="POST" class="form-control">
    <label for="">Nome</label>
    <input class="form-control" type="text" name="nome" value="{{curso.nome}}" >
    <label for="">Descrição</label>
    <textarea class="form-control" name="descricao">{{curso.descricao}}</textarea>
    <label for="">CH</label>
    <input class="form-control" type="text" name="ch" value="{{curso.ch}}">
    <button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}